# Ignore all files without extension
*
!*/
!*.*
!LICENSE

.vscode/
.idea/
node_modules/
.next/
*.out
*.log
coverage.out
coverage.html
cover.html
PR*.md
pr*.md
.cursorignore
*test*.sh
*test*.exp
*test*.py
*.db
.codex
pnpm-lock.yaml
.gocache
.DS_Store
.gomodcache
.codebuddy
__pycache__
.venv
